<div class="contacts container">
	<h2 style="text-align: left;"> Contact </h2>
      <h6>samguergen@gmail.com</h6>
      <h6><a href="http://twitter.com/jusdepommes25">@jusdepommes25</a></h6>
      <h6><a href="https://github.com/samguergen">github.com/samguergen</a></h6>
      <h6><a href="https://bitbucket.org/samguergen">bitbucket.org/samguergen</a></h6>
      <h6><a href="http://www.linkedin.com/in/samanthaguergenenov">linkedin.com/in/samanthaguergenenov</a></h6>
</div>
