<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">

       <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" id="first-img"><%= image_tag("bedroom-ff.jpg", :alt => "bedroom", :class => "home-img") %></div>
            <div class="carousel-caption">
                <h1>Imagine a future where you can stay at a place that fits your every preference.<h1>
                <h1><em>Hoadini can pick that out for you.</em></h1>
            </div>
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" id="second-img"><%= image_tag("ebedroom-ff.jpg", :alt => "bedroom2", :class => "home-img") %></div>
            <div class="carousel-caption">
                <h1>Imagine a future where you do not need to stress out on where to stay.</h1>
                <h1><em>Hoadini can help you get out of that bind.</em></h1>
            </div>
        </div>

        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" id="third-img"><%= image_tag("living-ff.jpg", :alt => "living", :class => "home-img") %></div>
            <div class="carousel-caption">
                <h1>Travel Effortlessly</h1>
                <h1><em>We'll find your perfect place</em></h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<!-- 
<div class="jumbotron">
  <div class="container">
    <h1>Home#index</h1>
	<p>Find me in app/views/home/index.html.erb</p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1>Second jumbo</h1>
	<p>Second section of website</p>
  </div>
</div>

 -->