<div class="lottery container">

To participate in this lottery, you must pay 10 furnipoints. </br>

To start, click on the link below: </br>

<%= link_to "I'm lucky!", home_lottery_gamble_path %> </a>

<div class="furni-count">You currently have: <%= current_user.furnipoints %> furnipoints.
</div>

</div>