
<div class="settings">


<button class="btn btn-warning settings-edit"><a href="/users/<%= current_user %>/edit">Edit Profile</button>
<button class="btn btn-warning settings-cancel"><%= button_to "Delete Account", {:controller => :users,
      :action => 'destroy', :id => current_user.id }, :method => :delete %></button>
<button class="btn btn-warning settings-cancel">Furnipoint Lottery!</button>

</div>
