<div class="settings">

<a href="/users/<%= current_user %>/edit"><button class="btn btn-warning settings-edit">Edit Profile</button></a>
<button class="btn btn-warning settings-cancel">
<%= button_to "Delete Account", { :action=>"destroy", :controller=>"users", id: current_user.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning settings-cancel"  %>
</button>
<a href="/home/lottery"><button class="btn btn-warning settings-cancel">Furnipoint Lottery!</button></a>

</div>