<% if current_user %>

<div class="settings">

<a href="/users/<%= current_user %>/edit"><button class="btn btn-warning settings-edit">Edit Profile</button></a>
<button class="btn btn-warning settings-cancel">
	<%= form_for current_user, method: :delete do |f| %>
		Delete your Account
	<% end %>
</button>
<a href="/home/lottery"><button class="btn btn-warning settings-cancel">Furnipoint Lottery!</button></a>

</div>

<% else %>

<div class="login-please">

Please log in or sign up to view this page :D

</div>	

<% end %>