<% if current_user %>
<div class="wishlist">

My wishlist:

<% @current_favorites.each do |fav| %>
<%= fav.name %>
<% end %>


</div>

<% else %>
<div class="login-please">

Please log in or sign up to view this page :D

</div>	

<% end %>