<div class="wishlist container">
	<h2> Wishlist </h2>

	<div class="wishlist-imgs">
		<% @fav_furnis.each do |ufav| %> 
		<div class="wishlist-img"><img src="<%= ufav.image_url %>"/></div>
		<% end %>
	</div>





</div>