<div class="wishlist container">
	<h2> Wishlist </h2>

	<div class="wishlist-imgs">
		<% @fav_furnis.each do |ufav| %> 
		<div class="wishlist-img">
			<a href="/furnitures/<%= ufav.id %>"><img src="<%= ufav.image_url %>"/></a>
		</div>
		<%= button_to "Remove", remove_wishlist_path, method: :delete, class: "btn-group btn-group-xs btn-wishlist", params: { wishlist_id: @first_id } %>
		<% end %>
	</div>
</div>