<div class="wishlist container">
	<h2> Wishlist </h2>

	<div class="wishlist-imgs">
		<% @fav_furnis.each do |ufav| %> 
		<div class="wishlist-img">
			<a href="/furnitures/<%= ufav.id %>"><img src="<%= ufav.image_url %>"/></a>
			</div>
		<% end %>
	</div>
</div>