/*
 *= require_tree .
 *= require_self
 */

html {
    position: relative;
    min-height: 100%;
}
body {
	height: 100%;
    margin: 0 0 100px; /* bottom = footer height */
    /* background: #ebccd1; */
    background: #d7b591;
}

.auth-info {
	position: absolute;
    top: 1%;
    left: 18%;
    color: #c09853;
    font-style: italic;
}

img.logo {
    height: 68px;
}

img.wooden {
		height: 100px;
    	width: 100%;
    	position: absolute;
	}

/*bootstrap override */

.navbar-default .navbar-brand {
	position: absolute;
	color: #c09853;
}

.navbar {
	border: 1px solid black;
	height: 100px;

	form.navbar-form.navbar-left {
		padding: 15px;
	}
	.navbar-right {
		/*width: 50%;*/
		margin-top: 1%;
		li {
			font-size: 19px;
	    	padding: 15px;
		}
		li a {
			color: #c09853;
			&:hover {
			    text-decoration: none;
			    background: #d6e9c6;
			    border-radius: 5px;
			}
		}
	}
}

.dropdown:open {
	background: red;
}

.auth-dropdown {
	border-radius: 5px !important;
	width: 400px;
	background: #d6e9c6;
    padding: 20px;
    border: 2px solid black;
}

.user-zone {
	border-radius: 5px !important;
	width: 200px;
	background: #d6e9c6;
    padding: 10px;
    border: 2px solid black;

    li:hover {
	    	background: white;
	    	border-radius: 5px;
    	&a {
    		background: white;
    	}
    	&a:hover {
    		background: white;
    	}
    }
    li a:visited {
  
    }
}

.user-zone {
	
}
	
.dropdown {
	color: #c09853;
}

.signup-form, .second-col {
	margin-left: 30%;
}

/*.second-col {
	margin-left: 30%;	
}
*/

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #c09853;
    border: 1px solid black;

    .navbar-nav li a {
    	color: #c09853 !important;
    	font-weight: bold;
    }
    img.wooden {
		height: 50px;
	}
}

/* NAVLINX */
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 26px;
}