/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    background: #ebccd1;
}
/*bootstrap override */
.navbar {
	border: 1px solid black;
	background: #c09853;
	height: 80px;

	form.navbar-form.navbar-left {
		padding: 15px;
	}
	.navbar-right {
		li {
			font-size: 18px;
	    	padding: 15px;
		}
		li a:hover {
	    text-decoration: none;
	    background-color: #eeeeee;
		}
	}
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #c09853;
    border: 1px solid black;
}
/*.navbar, footer {
	a {
		color: white;
	}*/
}