/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    background: #ebccd1;
}
img.wooden {
		height: 80px;
    	width: 100%;
    	position: absolute;
	}
/*bootstrap override */
.navbar {
	border: 1px solid black;
	height: 80px;

	form.navbar-form.navbar-left {
		padding: 15px;
	}
	.navbar-right {
		width: 50%;
		li {
			font-size: 18px;
	    	padding: 15px;
		}
		li a {
			color: #c09853;
			&:hover {
			    text-decoration: none;
			    background: #d6e9c6;
			    border-radius: 5px;
			}
		}
	}
}

.auth-dropdown {
	border-radius: 5px !important;
	width: 400px;
	background: #d6e9c6;
    padding: 20px;
    border: 2px solid black;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #c09853;
    border: 1px solid black;
    .navbar-nav li a {
    	color: #c09853;
    	font-weight: bold;
    }
    img.wooden {
		height: 50px;
	}
}