// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comm-history {
    background: rgba(245,245,220,0.44);
    border-radius: 5px;
    border: 2px solid brown;
    font-size: 12px;
    min-height: 100px;
    padding: 10px;
}

form.comment-form {
    padding: 15px;

    input#content {
	    height: 100px;
	    width: 300px;
    }
}

textarea#comment_content {
    height: 100px;
    width: 300px;
}