// Place all the styles related to the Furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



tr, td {
	padding: 2%;
}

/* new furniture form */

.furni-form {
	background: rgba(192, 152, 23, 0.24);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;

    input {
    	padding: 5px;
    }

    input#furniture_content {
	    width: 70%;
	    height: 70px;
	}
	input#furniture_image_url {
		width: 70%;
	}
}

form#edit_furniture_1 {
    margin-left: 10%;
    text-align: center;
}

/* furni index */

.furni-obj, .furni-img, .descr-short, .furni-line1, .descr-long {
    float: left;
}

.furni-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.furni-obj {
    padding: 10px;
    margin-right: 5%;
    margin-top: 50px;
    position: relative;
    width: 45%;
}

.furni-img {
    margin: 5px;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
}

.descri-short {
    line-height: 1.8;
    position: relative;
}

.furni-line1 {
    width:100%;
    position: relative;
}

.descri-long {
    text-align: justify;
}

.descr-long {
    width: 100%;
    line-height: 1.6;
    position: relative;
}

.new-furni {
    width: 100px;
    font-weight: bold;
    font-size:12px;
    text-decoration: none;
}

/* furni-show */

.furni-show {

    .furni-top, .furni-middle, .furni-bottom {
        float: left;
    }

    .furni-top {
        .furni-name, .furni-links {
            float: left;
        }
        .furni-links {
            width: 100px;
            margin-left: 900px;
            width: 100px;
            position: absolute;
        }
    }

    .furni-middle {
        .furni-img {
            width: 400px;
            height: 400px;
            float: left;
        }
        .furni-descri {
            margin-left: 7%;
            margin-top: 3%;
            float: left;
            width: 40%;
            line-height: 1.5;

            .new-comm {
                .dropdown-menu {
                    background: rgba(245,245,220,0.44);
                }
            }
        }
    }
    .furni-bottom {
        clear: both;
        width: 100%;
        margin-top: 3%;
        padding: 5%;

        /* view rest in furnitures.scss */

    }
}