

tr, td {
	padding: 2%;
}

/* new furniture form */

.furni-form {
	background: rgba(192, 152, 23, 0.24);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;

    input {
    	padding: 5px;
    }

    input#furniture_content {
	    width: 70%;
	    height: 70px;
	}
	input#furniture_image_url {
		width: 70%;
	}
}

form#edit_furniture_1 {
    margin-left: 10%;
    text-align: center;
}

/* furni index */

.furni-obj, .furni-img, .descr-short, .furni-line1, .descr-long {
    float: left;
}

.furni-container {
    background: rgba(255, 255, 255, 0.41);
    border-radius: 10px;
}

.furni-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    h2 {
        margin-top: 5%;
        text-align: center;
    }
}

.filter {
    margin-top: 4%;
}

.new-furni {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    left: 76%;
    margin-top: -2%;
    position: absolute
}

.furni-obj {
    padding: 10px;
    margin-right: 5%;
    margin-top: 50px;
    position: relative;
    width: 45%;
}

.furni-img {
    margin: 5px;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
}

.descri-short {
    line-height: 1.8;
    position: relative;
}

.furni-line1 {
    width:100%;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.descri-long {
    margin-top: 3%;
    width:100%;
    text-align: center;
    margin-left: 10%;
    a {
        display: inline-block !important;
        float:left;
    }
}

.btn-wishlist, .btn-save {
    background: #d7b591;
    font-size: 9px;
    display: inline-block !important;
    float:left;
}


.furni-links-index {
    text-align: center;
}


/*modal */

.modal-body {
    text-align: center;
}

input#furniVal {
    border: none;
    width: 30px;
}

input.ok-btn {
    margin-top: 5%;
    margin-left: 43%;
}

.furni-imgs{
    margin-top: 5%;
    img {
        padding: 1%;
        margin: 2%;
    }
}

.ok-btn-radio {
    margin-top: 15px;
}

.login-plz-modal {
    font-weight: bold;
    color: red;
    margin-top: 5%;
}


/* furni-show */

.furni-show {

    .furni-top, .furni-middle, .furni-bottom {
        float: left;
    }

    .furni-top {
        .furni-name, .furni-links {
            float: left;
        }
        .furni-name {
            h2 {
                margin-left: 15%;
            }
        }
        .furni-links {
            text-align: center;
            margin-left: 70%;
            padding: 5px;
            text-decoration: none;
            font-size: 14px;
            width: 15%;
            position: absolute;
            background: beige;
            border-radius: 15px;
            color: black;
        }
    }

    .furni-middle {
        .furni-img {
            width: 400px;
            height: 400px;
            float: left;
        }
        .furni-descri {
            margin-left: 7%;
            margin-top: 3%;
            float: left;
            width: 40%;
            line-height: 1.5;

            .new-comm {
                .dropdown-menu {
                    background: rgba(245,245,220,0.44);
                }
            }
        }
    }
    .furni-bottom {
        clear: both;
        width: 100%;
        margin-top: 3%;
        padding: 5%;

        /* view rest in furnitures.scss */

    }
}

/* filtered view */
.filtered-furni {
    text-align: center;
    .furni-obj {
        margin-bottom: 10%;
    }

    a .back-btn {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
}