.arrow {
	position: absolute;
    margin-left: 83%;
    margin-top: -1%;
}

.arrow img, .arrow-quote {
    height: 54px;
    margin-top: -1%;
    z-index: 99;
    	position: absolute;
    margin-left: 83%;
    margin-top: -1%;
}
.arrow-quote {

	margin-top: 1%;
    margin-left: 59%;
    color: #ffa100;
    font-style: italic;
    font-weight: bold;
}

/*Bootstrap override */

.carousel {
	margin-top: -2%;
	margin-bottom: -5%;
}

.btn-warning {
	background-color: rgba(240,173,785, 0.4) !important;
	background-color: rgba(240,173,78, 0.4) !important;
}

.carousel-caption {
    top: 3%;
    color: pink;
    h1 {
    	font-family: Palatino;
    }
}

.carousel-control {
	border-radius: 5px;
}

.carousel-control:hover, .carousel-control:focus {
	background: #c09853;
}

.home-img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4px;
}

.settings {
	width: 60%;
    margin: 15% 20% 25% 20%;

    .setting-links {
    	margin-left: auto;
    	margin-right: auto;
    	width: 74%;
		.settings-edit, .settings-cancel, .settings-lottery {
			margin: 1%;
			padding: 2%;
			color: white;
			font-size: 16px;
			float: left;
		}
	}
}

.login-please {
	
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	color: #faebcc;
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana;

	.smiley {
		margin-top: 2%;
		text-align:center;
	}
}

.lottery, .contacts, .career {
	font-size: 16px;
	text-align: center;
	line-height: 1.4;
	font-weight: bold;
	color: #4c2316;
}

img.gamble {
	margin: 4%;
}

.contacts {
	h6 {
		font-size: 16px;
		line-height: 1.8;
		color: #4c2316 !important;
		a {
			color: #4c2316 !important;
		}
	}
}

/* wishlist */

.wishlist {
	.wishlist-imgs {
		margin-top: 10%;
		width: 80%;
		margin-left: 10%;

		.wishlist-img {
			img {
				height: 150px;
				width: 150px;
				margin: 15px;
				float: left;
				border-radius: 5px;
			}
		}
	}
	.btn-wishlist-rm {
		margin-top: 15%;
    	margin-left: -11%;
    	position: absolute;
	}
}