/*Bootstrap override */

.carousel {
	margin-top: -2%;
	margin-bottom: -5%;
}

.carousel-caption {
    top: 3%;
    color: pink;
    h1 {
    	font-family: Palatino;
    }
}

.carousel-control {
	border-radius: 5px;
}

.carousel-control:hover, .carousel-control:focus {
	background: #c09853;
}

.home-img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4px;
}

.settings {
	width: 60%;
    margin: 15% 20% 25% 20%;

    .setting-links {
    	margin-left: auto;
    	margin-right: auto;
    	width: 74%;
		.settings-edit, .settings-cancel, .settings-lottery {
			margin: 1%;
			padding: 2%;
			color: white;
			font-size: 16px;
			float: left;
		}
	}
}

.login-please {
	
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	color: #faebcc;
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana;

	.smiley {
		margin-top: 2%;
		text-align:center;
	}
}

.lottery, .contacts, .career {
	font-size: 16px;
	text-align: center;
	line-height: 1.4;
	font-weight: bold;
	color: #4c2316;
}

img.gamble {
	margin: 4%;
}

.contacts {
	h6 {
		font-size: 16px;
		line-height: 1.8;
		color: #4c2316 !important;
		a {
			color: #4c2316 !important;
		}
	}
}

/* wishlist */

.wishlist {
	.wishlist-imgs {
		margin-top: 10%;
		width: 80%;
		margin-left: 10%;
		
		.wishlist-img {
			img {
				height: 200px;
				width: 200px;
				margin: 5px;
				float: left
			}
		}
	}
}