/*Bootstrap override */

.carousel-caption {
    top: 3%;
    color: pink;
    h1 {
    	font-family: Palatino;
    }
}

.carousel-control {
	border-radius: 5px;
}

.carousel-control:hover, .carousel-control:focus {
	background: #c09853;
}

.home-img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}


