/*Bootstrap override */

.carousel {
	margin-top: -2%;
	margin-bottom: -5%;
}

.carousel-caption {
    top: 3%;
    color: pink;
    h1 {
    	font-family: Palatino;
    }
}

.carousel-control {
	border-radius: 5px;
}

.carousel-control:hover, .carousel-control:focus {
	background: #c09853;
}

.home-img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4px;
}

.settings {
	width: 56%;
    margin: 15% 22% 25% 22%;

	button, a {
		margin: 1%;
		padding: 2%;
		color: white;
		font-size: 16px;

		form {
			color: white;
			font-size: 16px;
		}
	}
}

.login-please {
	
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	color: #faebcc;
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana;

	.smiley {
		margin-top: 2%;
		text-align:center;
	}
}

.lottery, .contacts, .career {
	font-size: 16px;
	text-align: center;
	line-height: 1.4;
	font-weight: bold;
	color: #4c2316;
}


