.user-profile {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;

    h2 {
    	text-align: center;
    }

	.user-info, .user-img {
		float: left;
		margin: 5%;
	}

	.user-info {
		font-size: 14px;
		line-height: 1.5;
	    padding: 15px;
	    border-radius: 5px;
	}

	.user-img {
		img {
			height: 200px;
			margin-bottom: 10px;
		}	
	}

	.user-links {
		clear:both;
	}
}