<h1>New Furniture</h1>

<% if session[:user_id] %>

<%= render 'form' %>

<% else %>

<div class="log-first">
	Sorry! You must log in or sign up before posting your furniture.
</div>

<% end %>

<%= link_to 'Back', furnitures_path %>
