<!DOCTYPE html>
<html>
<head>
  <title>FittingFurnitures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fitting Furnitures</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Item">
        </div>
        <button type="submit" class="btn btn-default">Go!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="/furnitures">Explore</a></li>
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</span></a>
          <ul class="dropdown-menu auth-dropdown">
          	<form class="login-form" action="/login" method="post">
			    <p style="font-size: 25px">Log In</p>
			    <hr>
			    <p class="labels"><input type="text" name="email" placeholder="email"></input></p>
			    <p class="labels"><input type="password" name="password" placeholder="password"></input></p>
			    <button class="btn-success">Log in</button>
			</form>
          </ul>
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signup</span></a>
          <ul class="dropdown-menu auth-dropdown">
			  <form class="signup-form" action="/users" method="post">
			    <p style="font-size: 25px">Create an account</p>
			    <hr>
			    <div class="first-col">
			      <p class="labels"><input type="text" name="user[email]" placeholder="email/login"></input></p>
			      <p class="labels"><input type="password" name="user[password]" placeholder="password"></input></p>
			      <p class="labels"><input type="password" name="user[password_confirmation]" placeholder="password confirmation"></input></p>
			      <p class="labels"><input type="text" name="user[name]" placeholder="first and last name"></input></p>
			      <p class="labels"><input type="integer" name="user[age]" placeholder="age"></input></p>
			      <p class="labels"><input type="text" name="user[gender]" placeholder="gender"></input></p>
			    </div>
			    <div class="second-col">
			      <p class="labels"><input type="text" name="user[age]" placeholder="age"></input></p>
			      <p class="labels"><input style="height: 100px" name="user[description]" type="text" placeholder="about you"></input></p>
			      <p class="labels"><input type="file" name="user[photo]" ng-change="previewFile()" placeholder="Upload avatar"><br>
			      <img src="" height="50" alt="Image preview..."></p>

			      <button class="btn-success" ng-click="login()">Sign up</button>
			    </div>
			  </form>
          </ul>          
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Zone <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">My Goals Room</a></li>
            <li><a href="#">My Store</a></li>
        	<li><a href="#">My Wishlist</a></li>
        	<li><a href="#">Upload Item</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	

<div class="login-box"></div>
<div class="signup-box"></div>

<%= yield %>

<footer>
	<ul class="nav navbar-nav navbar-left">
		<li><a href="#">Contact</a></li>
		<li><a href="#">Careers</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="copyright"><a href="#">Copyright 2016</a></li>
	</ul>
</footer>

</body>
</html>
